<div id="blog-sidebar-title">Blog</div>
<div
  id="blog-sidebar-item"
  onclick="window.location.href='./2023-1-8-CURP — Revisit the Consensus Protocol.html'"
>
  <p>CURP — Revisit the Consensus Protocol</p>
</div>
<div
  id="blog-sidebar-item"
  onclick="window.location.href='./2023-2-19-Thinking About Programs from Mathematical Perspective to Verify Their Correctness.html'"
>
  <p>
    Thinking About Programs from Mathematical Perspective to Verify Their
    Correctness
  </p>
</div>
<div
  id="blog-sidebar-item"
  onclick="window.location.href='./2023-3-10-How to elegantly organize async Rust code.html'"
>
  <p>How to elegantly organize async Rust code?</p>
</div>
