<div id="bar_title">Docs</div>
<div class="normal_bar" onclick="
    if (document.getElementById('whats_new_down').style.display == 'inline') {
        document.getElementById('whats_new_down').style.display = 'none';
        document.getElementById('whats_new_right').style.display = 'inline';
        var child = document.getElementsByClassName('whats_new_child');
        for (var i = 0; i < child.length; i++) {
            child[i].style.display = 'none';
        }
    } else {
        document.getElementById('whats_new_down').style.display = 'inline';
        document.getElementById('whats_new_right').style.display = 'none';
        var child = document.getElementsByClassName('whats_new_child');
        for (var i = 0; i < child.length; i++) {
            child[i].style.display = 'flex';
        }

    }
">
    <div>
        <img src="../images/docs_arrow_down.png" id="whats_new_down">
    </div>
    <div>
        <img src="../images/docs_arrow_right.png" id="whats_new_right">
    </div>
    <p>What's New</p>
</div>
<div class="normal_bar bar_child whats_new_child">
    <div>
        <img src="../images/docs_bar_bullet.png">
    </div>
    <a href="./whats_new.html#v010">V0.1.0</a>
</div>
<div class="normal_bar bar_child whats_new_child">
    <div>
        <img src="../images/docs_bar_bullet.png">
    </div>
    <a href="./whats_new.html#v020">V0.2.0</a>
</div>

<div class="normal_bar" onclick="
    if (document.getElementById('start_down').style.display == 'inline') {
        document.getElementById('start_down').style.display = 'none';
        document.getElementById('start_right').style.display = 'inline';
        var child = document.getElementsByClassName('start_child');
        for (var i = 0; i < child.length; i++) {
            child[i].style.display = 'none';
        }
    } else {
        document.getElementById('start_down').style.display = 'inline';
        document.getElementById('start_right').style.display = 'none';
        var child = document.getElementsByClassName('start_child');
        for (var i = 0; i < child.length; i++) {
            child[i].style.display = 'flex';
        }

    }
">
    <div>
        <img src="../images/docs_arrow_down.png" id="start_down">
    </div>
    <div>
        <img src="../images/docs_arrow_right.png" id="start_right">
    </div>
    <p >Get Started</p>
</div>
<div class="normal_bar bar_child start_child">
    <div>
        <img src="../images/docs_bar_bullet.png">
    </div>
    <a href="./get_start.html#arch">Architecture</a>
</div>
<div class="normal_bar bar_child start_child">
    <div>
        <img src="../images/docs_bar_bullet.png">
    </div>
    <a href="./get_start.html#xline">Xline in 5 minutes</a>
</div>

<div class="normal_bar" onclick="
    if (document.getElementById('deploy_down').style.display == 'inline') {
        document.getElementById('deploy_down').style.display = 'none';
        document.getElementById('deploy_right').style.display = 'inline';
        var child = document.getElementsByClassName('deploy_child');
        for (var i = 0; i < child.length; i++) {
            child[i].style.display = 'none';
        }
    } else {
        document.getElementById('deploy_down').style.display = 'inline';
        document.getElementById('deploy_right').style.display = 'none';
        var child = document.getElementsByClassName('deploy_child');
        for (var i = 0; i < child.length; i++) {
            child[i].style.display = 'flex';
        }

    }
">
    <div>
        <img src="../images/docs_arrow_down.png" id="deploy_down">
    </div>
    <div>
        <img src="../images/docs_arrow_right.png" id="deploy_right">
    </div>
    <p>Deploy</p>
</div>
<div class="normal_bar bar_child deploy_child">
    <div>
        <img src="../images/docs_bar_bullet.png">
    </div>
    <a href="./deploy.html#install">Install</a>
</div>
<div class="normal_bar bar_child deploy_child">
    <div>
        <img src="../images/docs_bar_bullet.png">
    </div>
    <a href="./deploy.html#perf_compare">Performance Comparison</a>
</div>

<div class="normal_bar" onclick="
    if (document.getElementById('develop_down').style.display == 'inline') {
        document.getElementById('develop_down').style.display = 'none';
        document.getElementById('develop_right').style.display = 'inline';
        var child = document.getElementsByClassName('develop_child');
        for (var i = 0; i < child.length; i++) {
            child[i].style.display = 'none';
        }
    } else {
        document.getElementById('develop_down').style.display = 'inline';
        document.getElementById('develop_right').style.display = 'none';
        var child = document.getElementsByClassName('develop_child');
        for (var i = 0; i < child.length; i++) {
            child[i].style.display = 'flex';
        }

    }
">
    <div>
        <img src="../images/docs_arrow_down.png" id="develop_down">
    </div>
    <div>
        <img src="../images/docs_arrow_right.png" id="develop_right">
    </div>
    <p>Develop</p>
</div>
<div class="normal_bar bar_child develop_child">
    <div>
        <img src="../images/docs_bar_bullet.png">
    </div>
    <a href="./develop.html">Xline API</a>
</div>

<div class="normal_bar" onclick="
    if (document.getElementById('reference_down').style.display == 'inline') {
        document.getElementById('reference_down').style.display = 'none';
        document.getElementById('reference_right').style.display = 'inline';
        var child = document.getElementsByClassName('reference_child');
        for (var i = 0; i < child.length; i++) {
            child[i].style.display = 'none';
        }
    } else {
        document.getElementById('reference_down').style.display = 'inline';
        document.getElementById('reference_right').style.display = 'none';
        var child = document.getElementsByClassName('reference_child');
        for (var i = 0; i < child.length; i++) {
            child[i].style.display = 'flex';
        }

    }
">
    <div>
        <img src="../images/docs_arrow_down.png" id="reference_down">
    </div>
    <div>
        <img src="../images/docs_arrow_right.png" id="reference_right">
    </div>
    <p>Reference</p>
</div>
<div class="normal_bar bar_child reference_child">
    <div>
        <img src="../images/docs_bar_bullet.png">
    </div>
    <a href="./reference.html">Xline Architecture Details</a>
</div>