<div id="footer_link">
    <div id="footer_docs">
        <p>Docs</p>
        <a href="./whats_new.html">What's New</a>
        <a href="./get_start.html">Get Started</a>
        <a href="./deploy.html">Deploy</a>
        <a href="./develop.html">Develop</a>
        <a href="./reference.html">Reference</a>
    </div>
    <div id="footer_deep_dive">
        <p>Deep Dive</p>
        <a href="./consensus.html">Consensus Algorithm</a>
        <a href="./kv_engine.html">KV Engine</a>
        <a href="./rpc.html">RPC</a>
        <a href="./test.html">Testing</a>
    </div>
    <div id="footer_community">
        <p>Community</p>
        <a href="./contribute.html">Contribute</a>
        <a href="https://gitter.im/datenlord/Xline">Chat</a>
    </div>
    <div id="footer_blog">
        <p onclick="window.location.href='./blog.html'">Blog</p>
    </div>
</div>
<div id="footer_logo">
    <img id="footer_xline" src="../images/footer_logo.png">
    <img id="footer_gitter" class="logo" src="../images/footer_gitter_logo.png" onclick="window.location.href='https://gitter.im/datenlord/Xline'">
    <img id="footer_github" class="logo" src="../images/footer_github_logo.png" onclick="window.location.href='https://github.com/datenlord/xline'">
</div>