<div class="header_left">
    <img src="../images/navi_logo.png"  onclick="window.location.href='home.html'">
</div>
<div class="header_middle">
    <div class="dropdown">
        <p>Docs</p>
        <div class="dropdown_content">
            <a href="./whats_new.html">What's New</a>
            <a href="./get_start.html">Get Started</a>
            <a href="./deploy.html">Deploy</a>
            <a href="./develop.html">Develop</a>
            <a href="./reference.html">Reference</a>
        </div>
    </div>
    <div class="dropdown">
        <p>deep dive</p>
        <div class="dropdown_content">
            <a href="./consensus.html">Consensus</a>
            <a href="./kv_engine.html">KV Engine</a>
            <a href="./rpc.html">RPC</a>
            <a href="./test.html">Test</a>
        </div>
    </div>
    <div class="dropdown">
        <p>community</p>
        <div class="dropdown_content">
            <a href="./contribute.html">Contribute</a>
            <a href="https://gitter.im/datenlord/Xline">Chat</a>
        </div>
    </div>
    <div class="dropdown">
        <p onclick="window.location.href='https://medium.com/@datenlord/curp-revisit-the-consensus-protocol-384464be1600'">blog</p>
    </div>
</div>
<div class="header_right">
    <img src="../images/navi_github.png"  onclick="window.location.href='https://github.com/datenlord/xline'">
</div>